h4 {
  margin-bottom: 0;
}
ul {
  margin: 0;
}
a {
  font-family: "Contrail One", sans-serif;
}

// #project-div {
//   a:hover {
//     transform: translateX(50px);
//     transition: transform 0.5s linear;
  
//   } 
// }

.project-link {
  color: gray;
  margin-right: 15px;
}
.project-link:hover  {
  margin-left: 10px;
  transition-duration: 0.2s;
  color: black;
}

.container {
  margin: auto;
}

.info {
  margin: auto;
  text-align: center;
  margin-top: 7em;
  margin-bottom: 20px;
  margin-left: 40px;
  flex-wrap: wrap;
}

.about-me {
  font-family: "Contrail One", sans-serif;
  font-size: 14px;
  margin-top: 40px;
  margin-left: 10px;
  max-width: 500px;
}

.title-div {
  background-color:white;
  font-family: "Contrail One", sans-serif;
  margin-top: 45px;

  a {
    text-decoration: none;
    // color: grayscale($color: #000000);
    font-size: 12px;
  }
}

img {
  cursor: pointer;
}

.main-view {
  overflow-x: scroll;
  overflow-y: hidden;
}

#loadingText:hover {
  background-position:-100% 0%;
}

#title {
  position: relative;
  font-family: "Contrail One", sans-serif;
  font-size: 3.5rem;
  // -webkit-text-stroke-width: 2px;
  // -webkit-text-stroke-color: black;
  color: black;
  // margin-top: 45px;
  padding-left: 10px;
}

@keyframes fillTitle {
from {width: 0%}
to {width: 100%} 
}

.pageView {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  from { opacity: 0%; }
  to { opacity: 100%; }
}

@media only screen and (max-width: 576px) {
  #title {
    font-size: 30px;
  }
  .contact {
    flex-direction: column;
  }
}