<div class="container">
  <div class="row gx-4 info">

    <div class="title-div col-lg-6 text-center d-flex align-items-center justify-content-center">
      <h4>Sharence's <br> Projects Wiki 😀</h4>
    </div>

    <div class="col-lg-6 d-flex justify-content-center align-items-center text-center">
      <div id="project-div">
        <ul id="project-list">
          <li>
            <a href="" routerLink="/wordle" class="project-link">Wordle</a>
          </li>
          <li>
            <a href="" routerLink="/calendly" class="project-link">Calendly</a>
          </li>
          <li>
            <a href="" routerLink="/wedding" class="project-link">Wedding</a>
          </li>
          <li>
            <a href="https://ssolomero.github.io/" target="blank" class="project-link">
              Portfolio 🔗
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>