
.container {
  margin: auto;
}

.info {
  padding: 0 5em;
  margin-top: 17em;

  @media (max-width: 767.98px) { 
    margin: 17em auto;
  }
}

#project-list {
  padding: 0;
  list-style-type: none;
}