<div class="container">
  <div class="title-div d-flex align-items-center justify-content-between row">

    <div class="col-8" id="title"><span>Sharence's Wiki</span></div>

    <div class="pageView d-flex justify-content-end align-items-end col-4 contact"> 
      <a href="https://github.com/ssolomero" target="_blank" class="project-link">github.</a>
      <a href="https://www.linkedin.com/in/sharence-solomero/" target="_blank" class="project-link">linkedin.</a>
      <a href="mailto:ssolomero@gmail.com" class="project-link">email.</a>
    </div>
  </div>
  
  <div class="row about-me pageView">
    <div class="col-12">
      Hello! I'm Sharence, a passionate frontend developer with three years of experience, and a year of 
      experience as a product designer. I've had the opportunity to contribute to new 
      features for <span><a href="https://www.chevrolet.com/ownercenter/onstar/learn?evar18=ch_global-nav_onstar">GM's Owner Center shop experience</a></span>. I have a keen eye for breathtaking digital user 
      experiences and elegant micro-interactions. Below, you’ll find a selection of lightweight projects 
      that have honed my skills as a developer. Thank you for visiting!
    </div>
  </div>

  <div class="info ml-5 pageView">
        <div class="">
            <a href="" routerLink="/wordle" class="project-link">Wordle</a>
            <a href="" routerLink="/calendly" class="project-link">Calendly</a>
            <a href="" routerLink="/wedding" class="project-link">Wedding</a>
            <a href="" routerLink="/must-watch" class="project-link">Crunch Time</a>
            <a href="https://ssolomero.github.io/" target="blank" class="project-link">
              College Portfolio
            </a>
            <a href="" routerLink="/bouncing-ball-load" class="project-link">Load Animation</a>
        </div>
  </div>

</div>