<div class="container">
  <div class="row d-flex gx-4 info">

    <div class="col-lg-6 text-center">
      <h4 class="text-center">Sharence's Projects Wiki</h4>
      <p>
        Enjoy :)
      </p>
      <div>
        <!-- <p>linked</p>
        <p>email</p> -->
      </div>
    </div>

    <div class="col-lg-6 justify-content-center text-center">
      <div id="project-div">
        <ul id="project-list">
          <li>
            <a href="" routerLink="/wordle" class="project-link">Wordle</a>
          </li>
          <li>
            <a href="" routerLink="/calendly" class="project-link">Calendly</a>
          </li>
          <li>
            <a href="" routerLink="/wedding" class="project-link">Wedding</a>
          </li>
          <li>
            <a href="https://ssolomero.github.io/" target="blank" class="project-link">Portfolio</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>