<div class="container d-flex justify-content-center">
  <div class="mt-5 d-flex-column text-center">
    <div width="225px">
      <img 
        id="bball"
        src="../../assets/—Pngtree—basketball hand painted ball motion_3925705.png" 
        alt="basketball"
        width="75px" height="75px">
    </div>
    <div id="shadow">
      <img src="../../assets/—Pngtree—round gradient black shadow_7193183.png" alt="shadow" 
      width="225px" height="225px">
    </div>
    <div id="load-text"><strong>L O A D I N G</strong></div>
  </div>
</div>
