<div class="container px-4">
  <div class="my-5 d-flex" 
    [ngClass]="{'justify-content-between slidein-from-middle':showMenu, 'justify-content-center':!showMenu}" 
    routerLink="/wedding">
    <!-- <div *ngIf="showMenu" class="placeholder-div">
      <img class="menu" src="../../assets/menu_FILL0_wght400_GRAD0_opsz48 (1).svg" alt="">
    </div> -->
    <div class="heart text-center">
      <img src="../../assets/favorite_FILL1_wght400_GRAD0_opsz48.svg" alt="">
    </div>
    <div *ngIf="showMenu" class="placeholder-div">
      <img class="menu" src="../../assets/menu_FILL0_wght400_GRAD0_opsz48 (1).svg" alt="">
    </div>
  </div>
  <div *ngIf="!showMenu "class="my-5 header-div d-flex justify-content-center">
    <img class="header-img" src="../../assets/N+S-164.jpg" alt="">
  </div>
</div>
