@import '../../styles.scss';

.header-img {
  width: 100%;
  max-width: 400px;
  object-fit: contain;
}

.heart {
	animation: beat .5s infinite alternate;
	transform-origin: center;
}

.menu {
  height: 40px;
  width: 40px;
}

.placeholder-div {
  opacity: 0;
}

/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.1); }
}