#app-scheduler {
  background-color: ghostwhite;
}

.home-link {
  padding: 5px 0 0 5px;
  color: gray;
}

.home-link:hover {
  color:black;
}

#loadingText:hover {
  background-position:-100% 0%;
}

#title {
  position: relative;
  font-size: 2rem;
  color: lightgray;
  margin-top: 70px;
  padding-left: 12px;
}


@keyframes fadeIn {
  from { opacity: 0%; }
  to { opacity: 100%; }
}

@keyframes fillTitle {
from {width: 0%}
to {width: 100%} 
}

@media only screen and (max-width: 576px) {
  #title {
    font-size: 30px;

    &:before {
      animation: fillTitle  ease-in-out 8s;
    }
  }

}